:root{
	--hue: 240;
	--sat: 8%;
	--strt: 6%;
	--diff: -6%;
	--l2: getLayer(2) getLayer(4);
	--num: 2 4;
}
body{
	height: 100%;
	margin: 0;
	font-size: 1rem;
	font-family: Figtree;
}
.top-navbar{
	display: grid;
	grid-template-columns: auto min-content;
}
.logo{
	display: grid;
	gap: 0.4rem;
}