:root{
	--hue: 240;
	--sat: 8%;
	--strt: 6%;
	--diff: -6%;
	--bg: hsl(222, 22%, 10%);
}
body{
	height: 100%;
	margin: 0;
	background: var(--bg);
	font-size: 1rem;
	font-family: Figtree;
	color: var(--contrast);
}